.div1 {
    display: flex;
    
}
.img1 {
    width: 15%;
    height: 200px;
}
.div2 {
    width: 75%;
    height: 200px;
}
.td1 {
    background-color: blue;
}
.video1 {
    width: 300px;
    height:300px;
}
.div3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.div4 {
    border: 4px solid;
}

.fiel {
    width: 200px;
    height: 200px;
}
.div7 {
   border: 1px solid black;
}
#poto1, #poto2, #poto3, #poto4 {
    width: 90px;
    height: 90px;
    border: 1px solid
}